/* main live food page */
.main-livefood-container{
  display: flex;
  flex-direction: column;
  
  
}

/* switch button from bootstrap */
.switch {
    position: relative;
    width: 5.5em;
    height: 5.5em;
  }
  
  .checkbox,
  .slider,
  .svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .checkbox,
  .svg {
    width: 100%;
    height: 100%;
  }
  
  .checkbox {
    background-color: hsl(3, 90%, 40%);
    border-radius: 50%;
    box-shadow:
      0 0 0 0.1em hsl(3, 90%, 25%) inset,
      0 0 0 0.2em hsl(3, 90%, 65%) inset,
      -0.3em 0.5em 0 hsl(3, 90%, 50%) inset,
      0 0.15em 0 hsla(0, 0%, 0%, 0.2);
    filter: brightness(1);
    transition:
      background-color 0.15s linear,
      box-shadow 0.15s linear,
      filter 0.15s linear,
      transform 0.15s linear;
    appearance: none;
  }
  
  .checkbox:active {
    box-shadow:
      0 0 0 0.1em hsl(3, 90%, 25%) inset,
      0 0 0 0.2em hsl(3, 90%, 65%) inset,
      -0.3em 0.5em 0 hsl(3, 90%, 50%) inset,
      0 0.05em 0 hsla(0, 0%, 0%, 0.2);
  }
  
  .checkbox:active,
  .checkbox:active + .svg {
    transform: scale(0.9);
  }
  
  .checkbox:checked {
    background-color: hsl(123, 90%, 30%);
    box-shadow:
      0 0 0 0.1em hsl(123, 90%, 15%) inset,
      0 0 0 0.2em hsl(123, 90%, 55%) inset,
      -0.3em 0.5em 0 hsl(123, 90%, 40%) inset,
      0 0.15em 0 hsla(0, 0%, 0%, 0.2);
  }
  
  .checkbox:checked:active {
    box-shadow:
      0 0 0 0.1em hsl(123, 90%, 15%) inset,
      0 0 0 0.2em hsl(123, 90%, 55%) inset,
      -0.3em 0.5em 0 hsl(123, 90%, 40%) inset,
      0 0.05em 0 hsla(0, 0%, 0%, 0.2);
  }
  
  .checkbox:focus,
  .checkbox:hover {
    filter: brightness(1.2);
  }
  
  .checkbox:focus {
    outline: 0;
  }
  
  .slider {
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    width: 1px;
    height: 1px;
  }
  
  .svg {
    pointer-events: none;
    transition: transform 0.15s linear;
  }
  
  .svg-ring,
  .svg-line {
    stroke: hsl(223, 90%, 100%);
  }
  
  .svg-ring {
    stroke-dasharray: 0 5 27.7 5;
    transition:
      stroke 0.15s ease-in-out,
      stroke-dasharray 0.3s 0.25s ease-in-out;
  }
  
  .checkbox:checked + .svg .svg-ring {
    stroke-dasharray: 0 0 0 37.7;
    transition-delay: 0s;
  }
  
  .svg-line {
    stroke-dashoffset: 3;
    transition:
      stroke 0.15s linear,
      stroke-dashoffset 0.3s ease-in-out;
  }
  
  .svg-line:nth-of-type(1) {
    transition-delay: 0s, 0.25s;
  }
  
  .checkbox:checked + .svg .svg-line:nth-of-type(1) {
    stroke-dashoffset: -6;
    transition-delay: 0s;
  }
  
  .svg-line:nth-of-type(2) {
    stroke-dashoffset: 6;
  }
  
  .checkbox:checked + .svg .svg-line:nth-of-type(2) {
    stroke-dashoffset: -3;
    transition-delay: 0s, 0.25s;
  }



  /* live food image by azhar  */

  .livefoodimg{
    height: 120px;
    width: 120px;
    object-fit: cover;
  }

  /* live food blink heading */

  .container {
  width: 100%;
  /* margin-top: 5%; */
  font-family: sans-serif;
}
h1 {
  
  float:left;
  width: 100%;
  text-align: center;
  
  /* margin-top: 1rem; */
}
.text-red {
  color: green;
}
.blink-hard {
  animation: blinker 1s step-end infinite;
}
.blink-soft {
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

  