/* Header Container */
.app-header {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* position: sticky; */
  top: 0;
  z-index: 1000;
  padding: 10px 0;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  align-items: center;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 20px;
}

/* Logo Section */
.header-logo {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  /* height: 50px;
  width: 50px; */
  /* border-radius: 50%; */
  /* background-color: orange; */
}

.logo-image {

  height: 50px;
  width: auto;
  max-width: 100%;
  border-radius: 50%;
}

/* Hotel Name Section */
.header-title {
  flex: 2;
  text-align: center;
  /* background-color: green; */
}

.hotel-name {
  color: green;
  font-size: 1.8rem;
  margin: 0;
  font-weight: 700;
}

.hotel-tagline {
  color: #7f8c8d;
  font-size: 0.9rem;
  margin: 5px 0 0;
  font-weight: 400;
}

/* Login Section */
.header-login {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  
  /* background-color: yellow; */
}
.cart-logo-header{
  margin-right: 25px;
}
.custom-button{
margin: 2px;
}

.header-login:hover {
  opacity: 0.8;
}

.login-icon {
  font-size: 2rem;
  color: #3498db;
  margin-right: 10px;
}

.login-text {
  color: #2c3e50;
  font-weight: 500;
  font-size: 1rem;
}


/* Responsive Design */
@media (max-width: 768px) {
  .header-container {
    flex-direction: row;
    padding: 10px;
  }

  .header-logo, 
  .header-title, 
  .header-login {
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 5px 0;
  }
  .hotel-name{
    text-wrap-style: auto;
  }

  .header-login {
    flex-direction: row;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }
  .cart-logo-header{
    margin-right: 0px;
    margin-bottom: 3pxs;
  }

  .hotel-name {
    font-size: 1.0rem;
  }
  
}