.cart-item img {
    max-width: 100px;
    /* height: auto; */
    padding: 3px;
    border-radius: 40px;
}

.quantity-input {
    width: 50px;
}

.cart-summary {
    background-color: #f8f9fa;
    border-radius: 10px;
}
.cart-hr{
    margin-top: 10px;
    height: 2px;
    color: #e2e2e2;
}